.badge{
    padding: 7px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    height: 25px;
    border-radius: 0 !important;
}

.badge.pending{
    background-color: #ffc107;
}

.badge.working{
    background-color: #17a2b8;
}

.badge.done{
    background-color: #28a745;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px;
}
.switch input {
    display: none;
}
input:checked + .toggleswitch {
    background-color: #2196F3;
}
.flat {
    border-radius: 3px;
}
.toggleswitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleswitch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}