<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item {% if request.path == url_for('tasks.dashboard') %} active {% endif %}">
                <a href="{{url_for('tasks.dashboard')}}" title="Dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span class="title bold">Dashboard</span>
                </a>
            </li>
            <li class="nav-item {% if request.path == url_for('tasks.view_tasks') %} active {% endif %}">
                <a href="{{ url_for('tasks.view_tasks') }}" title="Tasks">
                    <i class="fa fa-tasks"></i>
                    <span class="title bold">Tasks</span>
                </a>
            </li>
            
            {% if current_user.is_admin == 1 %}
            <li class="nav-item {% if request.path == url_for('users.users') %} active {% endif %}">
                <a href="{{ url_for('users.users') }}" title="Users">
                    <i class="fa fa-users"></i>
                    <span class="title bold">Users</span>
                </a>
            </li>  
            {% endif %}  
        </ul>
    </div>
</div>
<!-- END SIDEBAR -->