<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-dashboard"></i>
                    <span class="title bold">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-plane"></i>
                    <span class="title bold">Bookings</span>
                </a>
            </li>
          
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-globe"></i>
                    <span class="title bold">Pages Meta</span>
                </a>
            </li>
           
            <li class="nav-item">
                <a href="">
                    <i class="fa fa-building"></i>
                    <span class="title bold">Company Info</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
<!-- END SIDEBAR -->