{% extends 'admin/admin_layout.html' %}
{% block title %} Tasks List {% endblock %}
{% block content%}

 <div class="page-content-wrapper">
                <div class="page-content">
                    <h1 class="page-title bold">Tasks</h1>
						<div class="row">
							<div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-red bold">Tasks</span>
                                        </div>
                                        <div class="actions">
                                            <div class="btn-group">
                                                <a class="btn btn-primary float-right" data-toggle="modal" role="button" data-target="#add_task"><i class="fa fa-plus"></i> Add Task</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
								
								<!-- <div class="show_panel">
								<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<font size="3"></font>
								</div>
                                </div> -->
                                        <table id="example" class="display cell-border" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
													<th width="30">#</th>
													<th>Task</th>
													<th>Status</th>
													<th>Change</th>
													<th width="70"><center>Change</center></th>
												</tr>
                                            </thead>
                                            <tbody>
												{% for task in tasks %}
                                                <tr class="odd gradeX">
													<td>{{loop.index}}</td>
													<td>{{task.title}}</td>
                                                    <td><span class="badge {{task.status|lower}}">{{task.status}}</span></td>
                                                    <td><form action="{{url_for('tasks.toggle_status', task_id=task.id)}}" method="post">
                                                        <button type="submit" class="btn btn-primary">Next</button>
                                                    </form></td>
													<td><center>
														<a class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this task !!')" href="{{url_for('tasks.delete_task',tid=task.id)}}"> <i class="fa fa-trash-o"></i> </a>
													</center></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
						</div>
                </div>
            </div>

            	<div class="modal fade" id="add_task" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
							<form class="" role="form" method="post" autocomplete="off" action="{{url_for('tasks.add_tasks')}}">
                                <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title"><strong>Tasks</strong></h4>
                                </div>
                                <div class="modal-body">
									<div class="form-body">
										<div class="box-body"> 
										<div class="form-group">
											<label>Task Name</label>
											<input type="text" name="title" class="form-control" required placeholder="New Task">
										</div>
										</div>									
									</div>
								</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="float:left"> Close </button>
                                    <button type="submit" class="btn btn-success"> Add Task </button>
                                </div>
							</form>
                            </div>
                        </div>
                    </div>

{% endblock %}